<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>  <!-- required for thymeleaf to run-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number Randomizer</title>
</head>
<body>
    <div align="center">
        <h1>How many numbers do you wish to generate? (WITHIN 10)</h1>
        <form action = "#" th:action = "@{/getgen}"  th:object="${generate}" method = "post">  <!-- disqualify html  action with #--> 
            
            
            <input type = "text" th:field="*{numberVal}"/>
            <button type= "submit"> Submit </button>
        </form>
    </div>
</body>
</html>